server:
  port: 9600

spring:
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]': # Apply to all paths
            allowedOrigins: "*" # Allow all origins
            allowedMethods: [ "GET", "POST", "PUT", "DELETE", "OPTIONS" ]
            allowedHeaders: [ "*" ] # Allow all headers
            allowCredentials: false # Set to false when using "*"
      routes:
        - id: auth-service
          uri: http://bidvbpm-auth-service.bidvbpm.svc.cluster.local:9090
          predicates:
            - Host=bidvbpm.reborn.vn,bidvbpmsso.reborn.vn
            - Path=/authenticator/**

        - id: system-service
          uri: http://bidvbpm-system-service.bidvbpm.svc.cluster.local:9090
          predicates:
            - Host=bidvbpm.reborn.vn,bidvbpmsso.reborn.vn
            - Path=/system/**

        - id: api-service
          uri: http://bidvbpm-api-service.bidvbpm.svc.cluster.local:9090
          predicates:
            - Host=bidvbpm.reborn.vn
            - Path=/adminapi/**

        - id: application-service
          uri: http://bidvbpm-app-service.bidvbpm.svc.cluster.local:9090
          predicates:
            - Host=bidvbpm.reborn.vn
            - Path=/application/**

        - id: notification-service
          uri: http://bidvbpm-noti-service.bidvbpm.svc.cluster.local:9090
          predicates:
            - Host=bidvbpm.reborn.vn
            - Path=/notification/**

        - id: sso-service
          uri: http://bidvbpm-sso-service.bidvbpm.svc.cluster.local:80
          predicates:
            - Host=bidvbpm.reborn.vn
            - Path=/sso

        - id: frontend-service
          uri: http://bidvbpm-fe-service.bidvbpm.svc.cluster.local:80
          predicates:
            - Host=bidvbpm.reborn.vn
            - Path=/**