server:
  port: 9600

spring:
  cloud:
    gateway:
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Methods Access-Control-Allow-Headers, RETAIN_FIRST
      globalcors:
        add-to-simple-url-handler-mapping: true
        cors-configurations:
          '[/**]': # Apply to all paths
            allowedOrigins: "*"
            allowedMethods: [ "GET", "POST", "PUT", "DELETE", "OPTIONS" ]
            allowedHeaders: [ "*" ] # Allow all headers
            allowCredentials: false # Set to false when using "*"
      routes:
        # bidvbpm
        - id: bidvbpm-auth-service
          uri: http://bidvbpm-auth-service.bidvbpm.svc.cluster.local:9090
          predicates:
            - Host=bidvbpm.reborn.vn
            - Path=/authenticator/**

        - id: bidvbpm-system-service
          uri: http://bidvbpm-system-service.bidvbpm.svc.cluster.local:9090
          predicates:
            - Host=bidvbpm.reborn.vn
            - Path=/system/**

        - id: bidvbpm-api-service
          uri: http://bidvbpm-api-service.bidvbpm.svc.cluster.local:9090
          predicates:
            - Host=bidvbpm.reborn.vn
            - Path=/adminapi/**

        - id: bidvbpm-application-service
          uri: http://bidvbpm-app-service.bidvbpm.svc.cluster.local:9090
          predicates:
            - Host=bidvbpm.reborn.vn
            - Path=/application/**

        - id: bidvbpm-notification-service
          uri: http://bidvbpm-noti-service.bidvbpm.svc.cluster.local:9090
          predicates:
            - Host=bidvbpm.reborn.vn
            - Path=/notification/**

        - id: bidvbpm-sso-service
          uri: http://bidvbpm-sso-service.bidvbpm.svc.cluster.local:80
          predicates:
            - Host=bidvbpm.reborn.vn
            - Path=/sso,/sso/**
          filters:
            - PreserveHostHeader

        - id: bidvbpm-frontend-service
          uri: http://bidvbpm-fe-service.bidvbpm.svc.cluster.local:80
          predicates:
            - Host=bidvbpm.reborn.vn
            - Path=/**
          filters:
            - PreserveHostHeader

        # bpm
        - id: bpm-auth-service
          uri: http://rox-auth-service.rox.svc.cluster.local:9090
          predicates:
            - Host=bpm.reborn.vn
            - Path=/authenticator/**

        - id: bpm-system-service
          uri: http://rox-system-service.rox.svc.cluster.local:9090
          predicates:
            - Host=bpm.reborn.vn
            - Path=/system/**

        - id: bpm-api-service
          uri: http://rox-api-service.rox.svc.cluster.local:9090
          predicates:
            - Host=bpm.reborn.vn
            - Path=/adminapi/**

        - id: bpm-application-service
          uri: http://rox-app-service.rox.svc.cluster.local:9090
          predicates:
            - Host=bpm.reborn.vn
            - Path=/application/**

        - id: bpm-integration-service
          uri: http://rox-integration-service.rox.svc.cluster.local:9090
          predicates:
            - Host=bpm.reborn.vn
            - Path=/integration/**

        - id: bpm-notification-service
          uri: http://rox-noti-service.rox.svc.cluster.local:9090
          predicates:
            - Host=bpm.reborn.vn
            - Path=/notification/**

        - id: bpm-portal-service
          uri: http://rox-bidbe-service.rox.svc.cluster.local:9090
          predicates:
            - Host=bpm.reborn.vn
            - Path=/portal/**

        - id: bpm-sso-service
          uri: http://rox-sso-service.rox.svc.cluster.local:80
          predicates:
            - Host=bpm.reborn.vn
            - Path=/sso,/sso/**
          filters:
            - PreserveHostHeader

        - id: bpm-frontend-service
          uri: http://rox-fe-service.rox.svc.cluster.local:80
          predicates:
            - Host=bpm.reborn.vn
            - Path=/**
          filters:
            - PreserveHostHeader

        # staffx
        # re-use bpm
        - id: staffx-auth-service
          uri: http://rox-auth-service.rox.svc.cluster.local:9090
          predicates:
            - Host=staffx.vn
            - Path=/authenticator/**

        # re-use bpm
        - id: staffx-system-service
          uri: http://rox-system-service.rox.svc.cluster.local:9090
          predicates:
            - Host=staffx.vn
            - Path=/system/**

        - id: billing-api-service
          uri: http://billing-api-service.staffx.svc.cluster.local:9090
          predicates:
            - Host=staffx.vn
            - Path=/billing/**

        - id: config-api-service
          uri: http://config-api-service.staffx.svc.cluster.local:9090
          predicates:
            - Host=staffx.vn
            - Path=/config/**

        - id: identity-api-service
          uri: http://identity-api-service.staffx.svc.cluster.local:9090
          predicates:
            - Host=staffx.vn
            - Path=/identity/**

        - id: integration-api-service
          uri: http://integration-api-service.staffx.svc.cluster.local:9090
          predicates:
            - Host=staffx.vn
            - Path=/integration/**

        - id: marketplace-api-service
          uri: http://marketplace-api-service.staffx.svc.cluster.local:9090
          predicates:
            - Host=staffx.vn
            - Path=/marketplace/**

        - id: registry-api-service
          uri: http://registry-api-service.staffx.svc.cluster.local:9090
          predicates:
            - Host=staffx.vn
            - Path=/registry/**

        - id: runtime-api-service
          uri: http://runtime-api-service.staffx.svc.cluster.local:9090
          predicates:
            - Host=staffx.vn
            - Path=/runtime/**

        - id: staffx-sso-service
          uri: http://staffx-sso-service.staffx.svc.cluster.local:80
          predicates:
            - Host=staffx.vn
            - Path=/sso,/sso/**
          filters:
            - PreserveHostHeader

        - id: staffx-worker-service
          uri: http://worker-service.staffx.svc.cluster.local:80
          predicates:
            - Host=staffx.vn
            - Path=/**
          filters:
            - PreserveHostHeader