server:
  port: 9600

spring:
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]': # Apply to all paths
            allowedOrigins: "*" # Allow all origins
            allowedMethods: [ "GET", "POST", "PUT", "DELETE", "OPTIONS" ]
            allowedHeaders: [ "*" ] # Allow all headers
            allowCredentials: false # Set to false when using "*"
      routes:
        - id: auth-service
          uri: https://bidvbpmapi.reborn.vn
          predicates:
            - Hostname=bidvbpmapi.reborn.vn
            - Path=/authenticator/**

        - id: system-service
          uri: https://bidvbpmapi.reborn.vn
          predicates:
            - Hostname=bidvbpmapi.reborn.vn
            - Path=/system/**

        - id: api-service
          uri: https://bidvbpmapi.reborn.vn
          predicates:
            - Hostname=bidvbpmapi.reborn.vn
            - Path=/adminapi/**

        - id: application-service
          uri: https://bidvbpmapi.reborn.vn
          predicates:
            - Hostname=bidvbpmapi.reborn.vn
            - Path=/application/**

        - id: integration-service
          uri: https://bidvbpmapi.reborn.vn
          predicates:
            - Hostname=bidvbpmapi.reborn.vn
            - Path=/integration/**

        - id: notification-service
          uri: https://bidvbpmapi.reborn.vn
          predicates:
            - Hostname=bidvbpmapi.reborn.vn
            - Path=/notification/**

        - id: portal-service
          uri: https://bidvbpmapi.reborn.vn
          predicates:
            - Hostname=bidvbpmapi.reborn.vn
            - Path=/portal/**